@import '../style/global.scss';
.page_title {
  /* color: red; */
}

.index_1,
.index_2,
.contact_1,
.publications_1,
.research_1,
.students_1,
.teaching_1 {
  padding: 0.5rem;
}

/* Index */
.index_1 {
  background-color: $lightgrey;
}

.index_2 {
  display: flex;
}

/* Puclications */
.publications_1{
  background-color: $lightgrey;
}
.eduitems {
  flex: 1 1 0;
}
.proitems {
  flex: 1 1 0;
}
