// Colors:
$sfured: #a6192e;
$sfugrey: #54585a;
$sfublue: #007096;
$sfugold: #c1a01e;
$darkgrey: #323232;
$lightgrey: #f0f0f0;
$lightaccent: #ffdede;

//conference paper colors
$ccolor: #99c21e;
$ccolorlight: #dff1a7;
//journals paper colors
$jcolor: #c1a01e;
$jcolorlight: #f5eabd;

$sidenav_container_width: 15rem;
