@import '../../style/global.scss';

.sidenav_container{
  position: fixed;
  top: 0;
  left:0;
  height: 100%;
  width: 0;
  overflow: auto;
  /* padding-top: 2rem; */
  background-color: #323232;
  transition: width .5s;
  z-index: 20;
}

.open {
  width: 100%;
}

.menubutton{
  position: absolute;
  bottom: 2px;
  left: 10px;
  z-index: 21;
}

.navbar{
  display: block;
  position: relative;
  transition: 0.5s;
  height: 45px;
}


/* === */
.profile_section{
  position: relative;
  width:100%;
  padding:1rem;
  min-width: 200px
}

.profilepic {
  display: block;
  margin: auto;
  max-width: 100%;
  min-width: 200px;
  height: auto;
  border-radius: 6px;
}

.profile_name{
  color: white;
  font-size: 1.2rem;
  line-height: 1;
  margin-top: 0.5rem;
  margin-bottom: .2rem;
  padding: 0;
  text-align: center;
}

.profile_title{
  color: #969696;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: .7rem;
  line-height: 1;
}
/* === */
.links_section{
  position: relative;
  /* top: 50%;
  transform: translateY(-50%);
  min-height: 400px; */
}

.links_section_2{
  width: 200px;
  margin: auto;
  /* background-color: blue; */
}

.cv_link{
  color: #969696;
  text-decoration: none;
  margin-top: 1rem;
  line-height: 1;
  display: block;
  min-width: 200px;
  text-align: center;
  padding: .5rem;
  border: 1px solid #969696;
  border-radius: 6px;
}
.cv_link:hover{
  background-color: white;
  color: #323232;
  border-color: #323232;
}
/* === */
.icons_section{
  position: relative;
  bottom: 0;
  width:100%;
  padding:1rem;
  text-align: center;
  min-width: 200px;
}

.icon {
  width: 2rem;
  height: 2rem;
  background-color: #969696;
  margin: 0;
  padding: 0;
  line-height: 1;
  vertical-align: middle;
  /* border: 2px solid #323232; */
}

.icon:hover{
  background-color: white;
}

.icon_anchor{
  display: inline-block;
}

.email{
  border: none;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  .sidenav_container{
    width: $sidenav_container_width;
  }
  .navbar{
    display:none;
  }
}
