.container {
  text-align: left;
  overflow-x: hidden;
  min-width: max-content;
  padding:.5rem;
}

.container a{
  text-decoration: none;
}

.link {
  color: #969696;
  margin: .5rem;
  padding-left: .5rem;
  font-size: 1.3rem;
  line-height: normal;
  overflow-x: hidden;
  border-left: 1px solid #969696;
  vertical-align: middle;
}
.link:hover {
  color: white;
}

.icon{
  height: 1.3rem;
  width: 1.3rem;
  margin: 0;
  display: inline;
  vertical-align: middle;
}
